.footer {
    align-items: center;
    background-color: rgb(20, 22, 22);
    color: #4c3f6f;
    display: flex;
    justify-content: center;
    padding: 4px 16px;
    width: 100%;
    font-size: 30px;
    height: 130px;
}