.header {
    align-items: auto;
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin: 1rem;
    padding: 20px;
    width: auto;
}
